/* Basislayout */


/*{ 
  border: 1px dotted red;

} */

#border-rood {
  background-color: white;
}


html, body {
    height: 100%;
    padding: 0;
    background: url(afbeeldingen/background.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;

    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    background-color: white;
  
}


header {
    color: black;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

/* min stylen */
.plaatjeRechts {
  float: right;
  width: 290px;
  margin-top: 10px;
}
.tekstLinks {
  float: left;
  width: calc(100% - 250px - 40px);
  margin-top: 10px;
  background-color: white;
}
/* specifieke stijlen */

img.zweefRechts {
    float: right;
    margin-right: 0px;
    width: 490px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: blanchedalmond;
    overflow: hidden;
    border: 1px black inset;

  



}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: red;
    transition: 0.5s;
}

nav li a.active {
    background-color:   rgb(255, 38, 0);
}

info {
  background: black;
  width: 60%;
  height: 190px;
  overflow-y: auto;
  overflow-x: auto;
}

#hoofdtekst {
  background-color: white;
}

#hoofdtitel {
  background: fixed;
}
*{
box-sizing: border-box;
overflow: auto;
margin: 0px;
}

.legends {
  float: left;
  margin-left: 100px;
  width: 100px;
  margin-top: 30px;
}

.apex-logo {
  float: left;
  width: 100px;

}

.belangrijk {
  float: left;
  margin-left: 170px;
}

.normal-tekst {
  background-color: white;
}

.backwards {
  float: left;
  width: 30px;
  position: fixed;
}

.plaatje-bovenin {
  float: right;
  margin-top: 0px;
  width: 290px;
}

.heirlooms-plaatje {
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  width: 400px;
}

/*
.heirlooms-tekst {
float: left;
margin-left: 5px;
width: 200px;
margin-top: 30px;
}
*/

.heirloom-title {
  color: red;
  font-size: 20px;
  font: Arial sans-serif;
  float: left;
  margin-left: 5px;
  width: 200px;
  margin-top: 90px;
}

.abc {
    height: 100%;
    padding: 0;
    background: url(afbeeldingen/backwards.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

.video {
  float: right;
  margin-top: 0px;
  width: 290px;
  
}