/* Basislayout */




/* main */

html, body {
    height: 100%;
    padding: 0;
    background: url(afbeeldingen/background.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;

    
    color: lightblue;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    background-color: rgba(192,192,192,0.3);
  
}


header {
    color: black;
    text-align: center;
}




footer {
    text-align: center;
    padding-bottom: 10px;
}

* {
box-sizing: border-box;
overflow: auto;
margin: 0px;
}

.plaatjeRechts {
  float: right;
  width: 290px;
  margin-top: 10px;
}
.tekstLinks {
  float: left;
  width: calc(100% - 250px - 40px);
  margin-top: 10px
}


.smalltext {
    font-size: 0.7em;

}

.apex-logo {
  float: left;
  width: 100px;

}

.belangrijk {
  float: left;
  margin-left: 170px;
}



.backwards {
  float: left;
  width: 30px;
  position: fixed;
}

.plaatje-bovenin {
  float: right;
  margin-top: 0px;
  width: 290px;
}

/* link */
a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color:rgba(255,0,0,0.3);
    overflow: hidden;
    border: 1px black inset;

  



}

nav ul li {
    float: left;
}

nav li a {

    display: block;  
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: red;
    transition: 0.5s;
}

nav li a.active {
    background-color:   rgb(255, 38, 0);
}









/* home */

.heirloom-title {
  color: red;
  font-size: 20px;
  font: Arial sans-serif;
  float: left;
  margin-left: 5px;
  width: 200px;
  margin-top: 90px;
}

.heirlooms-plaatje {
    float: right;
  margin-right: 30px;
  margin-top: 30px;
    width: 400px;
}

.video {
  float: right;
  margin-top: 0px;
  width: 290px;
  
}

/* weapons */

th, td {
  border: 1px black solid;
}

.lightammo {
  background-color: #ffc168;

}

.heavyammo {
  background-color: #7eeadf;
}

.energyammo {
  background-color: greenyellow;

}

.sniperammo {
  background-color: 	#6495ED;
}

.shotgunammo {
  background-color: 	#FF6347;
}

/* legends */

.legendsplaatje {
  float: left;
  width: 168px;
  vertical-align: top;
  display: inline - block;
}

.legends {
  float: left;
  width: 60px;
}

/* maps */
.maps {
  float: right;
  margin-top: 30px;
  width: 200px;
  

}